/* MakeModal-modal animation */
.modal {
    width: 100%;
    height: 100vh;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.3);
  }
  .content {
    height: 70vh;
    width: 50vw;
    min-height: 350px;
    min-width: 350px;
  
    box-sizing: border-box;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    animation: onModal 0.15s;
    opacity: 1;
  }
  @keyframes onModal {
    from {
      transform: scale(1.3, 1.3);
    }
    to {
      transform: scale(1, 1);
    }
  }
  
  .contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  /* MakeModalUpload */
  
  .modalContentBox {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .modalTitle {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #d3d3d3;
  }
  
  .imageUploadBox {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dragUploadBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .uploadIcon {
    width: 150px;
  }
  .textBox {
    margin-bottom: 10px;
  }
  .textBox h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 10px 0 10px 0;
  }
  .textBox span {
    font-size: 15px;
    opacity: 0.5;
  }
  .fileUploadLabel {
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #ff8e81;
    cursor: pointer;
  }
  
  .uploadInput {
    display: none;
  }
  
  .uploadLabelChange {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
  }
  .uploadLabelChange img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  /* uploadCountAlert */
  .uploadAlert {
    width: 80%;
    height: 10%;
  
    display: none;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .uploadAlert p {
    color: white;
    font-size: 14px;
    font-weight: 500;
  }
  .uploadAlertOff {
    display: flex;
    animation: fade 3s linear;
  }
  
  @keyframes fade {
    0%,
    100% {
      opacity: 0;
    }
    10%,
    50%,
    90% {
      opacity: 1;
    }
  }
  
  
  /* MakeModalPreview*/
  .imagePreviewBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .imageBox {
    width: 100%;
    height: 100%;
  }
  .imageBox canvas {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 14px;
  }
  /* MakeModalWrite */
  
  .modalWrite {
    width: 70vw;
    height: 70vh;
    min-width: 650px;
    min-height: 400px;
    animation: widthAni 0.5s;
  }
  @keyframes widthAni {
    from {
      width: 50vw;
    }
    to {
      width: 70vw;
    }
  }
  
  .writeContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid #d3d3d3;
    position: relative;
  }
  .writeBox {
    padding-left: 10px;
    border-bottom: 2px solid #d3d3d3;
  }
  .nickNameBox {
    display: flex;
    align-items: center;
    padding: 10px 3px;
  }
  .profileImgBox {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  .profileImg {
    width: 100%;
    height: 100%;
  }
  .contentBox {
    width: 100%;
    position:relative;
    box-sizing: border-box;
  }
  .contentBox textarea {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    border: none;
    resize: none;
  }
  .searchCalBox {
    width: 100%;
    height: 40px;
    padding: 3px 5px 3px 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid #d3d3d3;
  }
  .searchCalBox input {
    width: 100%;
    height: 100%;
    margin: 3px 3px;
    border: none;
    box-sizing: border-box;
  }
  .searchCalBox button {
    display: none;
  }
  .foodCalPlus {
    width: 40px;
    height: 100%;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .foodCalPlus img {
    width: 100%;
    height: 100%;
  }
  .textLength {
    text-align: right;
    margin: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
  .createPostBtn {
    margin: 5px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    font-size: 15px;
    color: #ff8e81;
    background-color: white;
    cursor: pointer;
  }
  .createPostBtn:hover {
    color: rgba(0, 0, 0, 0.8);
  }