/* menuBar */
.menuContainer {
  width: 200px;
  height: 100vh;
  padding: 8px 12px 20px 12px;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  transform: translateX(0);
  background-color: #e3e3e3;
  transition-property: transform, z-index;
  transition-duration: 0.4s;
}
.menuContainerSearch {
  transform: translateX(-100%);
  transition: all 0.4s;
  z-index: 0;
}

.logoBox {
  width: 170px;
  height: 80px;

  background-color: #e3e3e3;
}

.allMenuBox {
  width: 170px;
}
.homeBox,
.searchBox,
.makeBox,
.profileBox {
  width: 170px;
  height: 45px;
  padding: 12px;
  margin-top: 4px;
}
.home,
.search,
.make,
.profile {
  display: block;
  padding-top: 10px;
  padding-left: 10px;
}


