.modalBack { 
    width: 100vw;
    height: 100vh;
  
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: -10; */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.5);
}

.Modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: resize 0.1s;
  }
  @keyframes resize {
    from {
      transform: scale(1.3,1.3);
    } to {
      transform: scale(1,1);
    }
  }
   
  /* modal창 */
  .modalBody {
    position: absolute;
    width: 300px;
    height: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  }
  
  .modalBody p {
    font-size: 18px;
    font-weight: bold;
  }
   
  .modalCloseBtn, .modalCloseCheckBtn {
    width: 75px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff8e81;
    font-size: 20px;
  }
   
  .modalCloseBtn,.modalCloseCheckBtn:hover {
    cursor: pointer;
  }
  .modalCloseCheckBtn {
    margin-right: 10px;
  }