.modalBackground {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}
.modalContainer {
  height: 90vh;
  width: 80vw;
  min-height: 350px;
  min-width: 350px;

  box-sizing: border-box;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  animation: onModal 0.08s;
  opacity: 1;
}
@keyframes onModal {
  from {
    transform: scale(0.7, 0.7);
  }
  to {
    transform: scale(1, 1);
  }
}

.modalWrap {
  height: 100%;
  width: 100%;
  display: flex;
}
