/* PostList */
.postListContianer {
    height: auto;
    background-color: white;
}


/* PostItemBox */
.postItemContainer {
    width: 100%;
    height: 700px;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(3,minmax(150px,280px));
    grid-template-rows: minmax(120px,290px) minmax(120px,280px) ;
    gap: 10px 20px;
}
.postItemBoxLeft:nth-child(1) {
    grid-row: 1/3;
    
}
.postItemBoxRight:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/3;
}


.postItemBoxRight {
    background-color: #e2e2e2;
    
}
/* .postItemBoxLong {
    float: right;
    width: 290px;
    height: 580px;
    margin: 10px 12px 10px 12px;
} */ 