/* mewnuBar */
.menuContainer {
  width: 200px;
  height: 100vh;
  padding: 8px 12px 20px 12px;

  position: fixed;
  z-index: 1;
  left: 0;

  background-color: aqua;
}

.logoBox {
  width: 170px;
  height: 80px;

  background-color: aliceblue;
}

.allMenuBox {
  width: 170px;
}
.homeBox, .searchBox, .makeBox, .profileBox {
  width: 170px;
  height: 45px;
  padding: 12px;
  margin-top: 4px;
}
.home, .search, .make, .profile {
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}

/* MakeModal */
.modal {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}
.content {
  height: 60vh;
  width: 390px;
  min-height: 390px;
  min-width: 350px;

  padding: 20px;

  box-sizing: border-box;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  transform: translateY(20%);
  opacity: 0;
}
.onModal {
  display: flex;
  z-index: 1000;
}
.onContent {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s;
}
