/* menuBar */
.menuContainer {
  width: 200px;
  height: 100vh;
  padding: 8px 12px 20px 12px;

  position: fixed;
  z-index: 1;
  left: 0;

  background-color: aqua;
}

.logoBox {
  width: 170px;
  height: 80px;

  background-color: aliceblue;
}

.allMenuBox {
  width: 170px;
}
.homeBox,
.searchBox,
.makeBox,
.profileBox {
  width: 170px;
  height: 45px;
  padding: 12px;
  margin-top: 4px;
}
.home,
.search,
.make,
.profile {
  display: block;
  padding-top: 10px;
  padding-left: 10px;
}

/* MakeModal-modal animation */
.modal {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}
.content {
  height: 60vh;
  width: 50vw;
  min-height: 350px;
  min-width: 350px;
  max-width: 450px;

  box-sizing: border-box;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  transform: translateY(20%);
  opacity: 0;
}
.onModal {
  display: flex;
  z-index: 10;
}
.onContent {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s;
}

/* MakeModal */

.contentBox {
  width: 100%;
  height: 100%;
  display: flex;
}

/* MakeModalUpload */
.modalContentBox {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalTitle {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #d3d3d3;
}

.imageUploadBox {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dragUploadBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.uploadIcon {
  width: 150px;
}
.textBox {
  margin-bottom: 10px;
}
.textBox h3 {
  font-size: 22px;
  font-weight: 400;
  margin: 10px 0 10px 0;
}
.textBox span {
  font-size: 15px;
  opacity: 0.5;
}
.fileUploadlabel {
  padding: 10px 15px 10px 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: #ff8e81;
  cursor: pointer;
}

.modalContentBox input {
  display: none;
}

.uploadAlert {
  width: 80%;
  height: 10%;

  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.uploadAlert p {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.uploadAlertOff {
  display: flex;
  animation: fade 3s linear;
}

@keyframes fade {
  0%,100% {
    opacity: 0;
  }
  10%,50%,90% {
    opacity: 1;
  }
}
/* MakeModalPreview*/

.imageBox {
  width: 100%;
  height: 70%;
  max-height: 350px;
  margin: 10px 0 15px 0;
}
.image {
  width: 100%;
  height: 100%;
}

/* MakeModalWrite */

.modalWrite {
  width: 80vw;
  min-height: 400px;
  min-width: 700px;
  animation: widthAni 2s;
}
@keyframes widthAni {
  from {
    width: 60vw;
  }to {
    width: 80vw;
  }
}

.imagePreviewBox{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

