.profileWrap {
    padding: 20px;
    box-sizing: border-box;
}
.profileContainer { 
    width: 100%;
    height: 225px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #e3e3e3;
}
.profileImgContainer{
    width: 30%;
    display: flex;
    justify-content: center;
}
.profileImgBox {
    width: 150px;
    height: 150px;
}
.profileImgBox img {
    width: 100%;
    height: 100%;
}
.prfileContentBox {
    width: 60%;
    height: 100%;
    background-color: aqua;
}
.profileListWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profileListBox {
    width: 100%;
    min-height: 220px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background-color:bisque;
}